@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.maplibregl-popup-content {
  padding: 12px;
  border-radius: 8px;
  max-width: 300px;
}

.maplibregl-popup-close-button {
  font-size: 18px;
  padding: 4px 8px;
}
